# Carga de datos Excell

In [1]:
import pandas as pd
import numpy as np

In [26]:
# Cargar todas las hojas del archivo Excel pero no las une todavia.

df_completo = pd.read_excel(r'C:\Users\usuario\Documents\Profesional\Mercanza\Data Analitics\M6_Python_for_data\Proyecto_Python_for_Data\datos\customer-details.xlsx', sheet_name=None,index_col=0)  # carga todas las hojas

In [27]:
# Unir todas las hojas en un solo DataFrame
df_unido = pd.concat(df_completo.values(), ignore_index=True)

In [28]:
df_unido.shape
#aqui podemos verificar que el df tiene muchas filas que una sola de las hojas del Excel.

(43170, 6)

In [29]:
df_unido.head(4)

,Income,Kidhome,Teenhome,Dt_Customer,NumWebVisitsMonth,ID
0,161770,1,0,2012-04-04,29,089b39d8-e4d0-461b-87d4-814d71e0e079
1,85477,1,1,2012-12-30,7,e9d37224-cb6f-4942-98d7-46672963d097
2,147233,1,1,2012-02-02,5,3f9f49b5-e410-4948-bf6e-f9244f04918b
3,121393,1,2,2012-12-21,29,9991fafb-4447-451a-8be2-b0df6098d13e

# Union de los datos de las hojas del Excel.

In [ ]:
#vamos a ver si podemos unir los dos archivos de datos en un mismo DATAFRAME y así trabajar un único conjunto de datos.

In [ ]:
#Para ello vamos a volver a cargar los datos del csv y ver si podemos unirlos por una columna en común.
df_bank_additional_o = pd.read_csv(r'C:\Users\usuario\Documents\Profesional\Mercanza\Data Analitics\M6_Python_for_data\Proyecto_Python_for_Data\datos\bank_additional.csv',index_col=0)

In [ ]:
df = df_bank_additional_o.copy()

In [ ]:
#verificamos que es el archivo a comparar.
df.head(4)

In [ ]:
todos_existen = df_unido['ID'].isin(df['id_']).all()
print("¿Todos los IDs de df1 están en df2?:", todos_existen)
#con esto comprobamos que los ids de ambos archivos de datos son diferentes por lo que no podriamos juntarlos.

In [ ]:
df_concatenado = pd.concat([df, df_unido], axis=0)
df_concatenado.sample(2)
#volvemos a realizar una comprobación y vemos que ahora tendriamos dos columnas ids por lo que se entiende que no se puede
#hacer la union de ambas.

In [ ]:
#de hecho podemos comprobar que al hacer la concatenación generamos miles de nulos.
df_concatenado.isnull().sum()

# EDA preliminar antes de limpieza y transformación de datos

- **Income**: Representa el ingreso anual del cliente en términos monetarios.
- **Kidhome**: Indica el número de niños en el hogar del cliente.
- **Teenhome**: Indica el número de adolescentes en el hogar del cliente.
- **Dt_Customer**: Representa la fecha en que el cliente se convirtió en cliente de la empresa.
- **NumWebVisitsMonth**: Indica la cantidad de visitas mensuales del cliente al sitio web de la empresa.
- **ID**: Identificador único del cliente.

In [8]:
df_o = pd.read_excel(r'C:\Users\usuario\Documents\Profesional\Mercanza\Data Analitics\M6_Python_for_data\Proyecto_Python_for_Data\datos\customer-details.xlsx', index_col=0)

In [ ]:
df=df_o.copy()
df

In [ ]:
df.describe().T

In [ ]:
df.dtypes
#los tipos son correctos. No hay nada que cambiar

In [ ]:
df.isnull().sum()
#no tiene nulos.

In [ ]:
df.duplicated().sum()
#no tiene duplicados.

In [ ]:
#Tras el EDA PRELIMINAR podemos verificar que no existe trabajo de "Transformación o limpieza que realizar en estos datos"
#Podemos considerar que el conjunto de datos esta OK.

# Transformación y limpieza de datos tras el EDA Preliminar

En este caso no se han apreciado transformaciones ni limpiezas necesarias a realizar.

# Gestion de Nulos

No existen nulos en este conjunto de datos.